*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

@media (max-width: 768px) {
  .btnBolean {
    flex-direction: column;
  }

  .cards{
    flex-direction: column;

    width: 100%;
    align-items: center;
  }
  .tarjeta {
    width: 80%;
    
    margin-bottom: 20px;
    margin: 0;
  }
}